name: 'Build'
on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - 'main'

jobs:
  deploy:
    name: 'Deploy'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
      - name: 'Setup Node'
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
            version: 8
            run_install: true # pnpm will install dependencies recursively.

      - name: 'Build'   
        run: |
          pnpm build